body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif!important;
}

h2 a {
font-size: 1.8rem!important;
}
h2 a.text-light:hover {
color: white!important;
text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
}

.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
flex:1;
}
@media (min-width:768px){
.navbar .btn {
  flex: 0;
}
}
.acciones {
margin: 1rem 0;
}
@media (min-width:768px) {
.acciones{
  margin: 0;
}
}
.acciones > *{
flex: 1;
}

